/*底部1像素*/
.weui-btn_disabled {
  color: rgba(255, 255, 255, 0.6);
}
.weui-btn_disabled.weui-btn_default {
  color: rgba(0, 0, 0, 0.3);
  background-color: #f7f7f7;
}
.weui-btn_disabled.weui-btn_primary {
  background-color: #9ed99d;
}
.weui-btn_disabled.weui-btn_warn {
  background-color: #ec8b89;
}
.weui-btn_disabled.yhao-btn_submit {
  color: #999999;
  background-color: #e4e4e4;
}
