/*底部1像素*/
.weui-cell_select {
  padding: 0;
}
.weui-cell_select .weui-select {
  padding-right: 30px;
}
.weui-cell_select .weui-cell__bd:after {
  content: " ";
  display: inline-block;
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #c8c8cd;
  border-style: solid;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  position: relative;
  top: -2px;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -4px;
}
.weui-select {
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  background-color: transparent;
  width: 100%;
  font-size: inherit;
  height: 45px;
  line-height: 45px;
  position: relative;
  z-index: 1;
  padding-left: 10px;
}
.weui-cell_select-before {
  padding-right: 10px;
}
.weui-cell_select-before .weui-select {
  width: 105px;
  box-sizing: border-box;
}
.weui-cell_select-before .weui-cell__hd {
  position: relative;
}
.weui-cell_select-before .weui-cell__hd:after {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  bottom: 0;
  border-right: 1px solid #e5e5e5;
  color: #e5e5e5;
  transform-origin: 100% 0;
  transform: scaleX(0.5);
}
.weui-cell_select-before .weui-cell__hd:before {
  content: " ";
  display: inline-block;
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #c8c8cd;
  border-style: solid;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  position: relative;
  top: -2px;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -4px;
}
.weui-cell_select-before .weui-cell__bd {
  padding-left: 10px;
}
.weui-cell_select-before .weui-cell__bd:after {
  display: none;
}
.weui-cell_select-after {
  padding-left: 10px;
}
.weui-cell_select-after .weui-select {
  padding-left: 0;
}
