/*底部1像素*/
.weui-actionsheet {
  position: fixed;
  left: 0;
  bottom: 0;
  transform: translate(0, 100%);
  backface-visibility: hidden;
  z-index: 5000;
  width: 100%;
  background-color: #efeff4;
  transition: transform .3s;
}
.weui-actionsheet__title {
  position: relative;
  height: 65px;
  padding: 0 20px;
  line-height: 1.4;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 14px;
  color: #888;
  background: #FCFCFD;
}
.weui-actionsheet__title:before {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid #e5e5e5;
  color: #e5e5e5;
  transform-origin: 0 100%;
  transform: scaleY(0.5);
}
.weui-actionsheet__title .weui-actionsheet__title-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.weui-actionsheet__menu {
  background-color: #FCFCFD;
}
.weui-actionsheet__action {
  margin-top: 6px;
  background-color: #FCFCFD;
}
.weui-actionsheet__cell {
  position: relative;
  padding: 10px 0;
  text-align: center;
  font-size: 18px;
}
.weui-actionsheet__cell:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid #e5e5e5;
  color: #e5e5e5;
  transform-origin: 0 0;
  transform: scaleY(0.5);
}
.weui-actionsheet__cell:active {
  background-color: #ececec;
}
.weui-actionsheet__cell:first-child:before {
  display: none;
}
.weui-skin_android .weui-actionsheet {
  position: fixed;
  left: 50%;
  top: 50%;
  bottom: auto;
  transform: translate(-50%, -50%);
  width: 274px;
  box-sizing: border-box;
  backface-visibility: hidden;
  background: transparent;
  transition: transform .3s;
}
.weui-skin_android .weui-actionsheet__action {
  display: none;
}
.weui-skin_android .weui-actionsheet__menu {
  border-radius: 2px;
  box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.1);
}
.weui-skin_android .weui-actionsheet__cell {
  padding: 13px 24px;
  font-size: 16px;
  line-height: 1.4;
  text-align: left;
}
.weui-skin_android .weui-actionsheet__cell:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.weui-skin_android .weui-actionsheet__cell:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.weui-actionsheet_toggle {
  transform: translate(0, 0);
}
.yhao-popup .yhao-actionsheet {
  position: fixed;
  left: 50%;
  top: 50%;
  bottom: auto;
  transform: translate(-50%, -50%);
  width: 80%;
  box-sizing: border-box;
  border-radius: 8px;
  backface-visibility: hidden;
  background: #ffffff;
  transition: transform .3s;
  z-index: 5000;
}
.yhao-popup .yhao-actionsheet .yhao-actionsheet__img {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
  border-radius: 8px 8px 0 0;
}
.yhao-popup .yhao-actionsheet .yhao-actionsheet__img i {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
}
.yhao-popup .yhao-actionsheet .yhao-actionsheet__menu {
  height: 75px;
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
}
.yhao-popup .yhao-actionsheet .yhao-actionsheet__menu h2 {
  font-size: 16px;
  margin-top: 10px;
}
.yhao-popup .yhao-actionsheet .yhao-actionsheet__content {
  height: 100px;
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
}
.yhao-popup .yhao-actionsheet .yhao-actionsheet__content:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid #c7c7c7;
  color: #c7c7c7;
  transform-origin: 0 0;
  transform: scaleY(0.5);
}
